In [45]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('C:\\스프링프로젝트\\TMSTROOM_DATA_TABLE.csv')

In [46]:
# 앞의 3개 데이터만 보여줌
df1.head(3) 
# 컬럼 수 보여줌
df1.shape
# 컬럼 내용 보여줌
df1.columns

Index(['R_NO', 'R_NAME', 'R_DETAIL', 'R_PERSON_CNT', 'R_PRICE', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [47]:
# 기계 학습
# TfidfVectorizer : 기계학습 라이브러리

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

tfidf_matrix_room=tfidf.fit_transform(df1['R_NAME'])
tfidf_matrix_room.shape # (12, 232) : 12개의 행에 232개의 데이터가 있음

(39, 24)

In [48]:
# 데이터를 모아서 행렬로 변경

from sklearn.metrics.pairwise import linear_kernel
cosine_sim_room=linear_kernel(tfidf_matrix_room,tfidf_matrix_room)
cosine_sim_room

array([[1.        , 0.83849225, 0.83849225, ..., 0.16150775, 0.        ,
        0.        ],
       [0.83849225, 1.        , 0.83849225, ..., 0.        , 0.16150775,
        0.        ],
       [0.83849225, 0.83849225, 1.        , ..., 0.        , 0.        ,
        0.16150775],
       ...,
       [0.16150775, 0.        , 0.        , ..., 1.        , 0.83849225,
        0.83849225],
       [0.        , 0.16150775, 0.        , ..., 0.83849225, 1.        ,
        0.83849225],
       [0.        , 0.        , 0.16150775, ..., 0.83849225, 0.83849225,
        1.        ]])

In [49]:
indices_room=pd.Series(df1.index,index=df1['R_NAME']).drop_duplicates()
indices_room

R_NAME
소노캄 거제 101호           0
소노캄 거제 102호           1
소노캄 거제 103호           2
스탠포드 호텔 서울 101호       3
스탠포드 호텔 서울 102호       4
스탠포드 호텔 서울 103호       5
그라벨호텔제주 101호          6
그라벨호텔제주 102호          7
그라벨호텔제주 103호          8
센텀 프리미어 호텔 101호       9
센텀 프리미어 호텔 102호      10
센텀 프리미어 호텔 103호      11
오크우드 프리미어 인천 101호    12
오크우드 프리미어 인천 102호    13
오크우드 프리미어 인천 103호    14
호텔 디에디션 101호         15
호텔 디에디션 102호         16
호텔 디에디션 103호         17
아리아나 호텔 101호         18
아리아나 호텔 102호         19
아리아나 호텔 103호         20
에이치원 호텔 101호         21
에이치원 호텔 102호         22
에이치원 호텔 103호         23
스타즈 호텔 울산 101호       24
스타즈 호텔 울산 102호       25
스타즈 호텔 울산 103호       26
에덴파라다이스호텔 101호       27
에덴파라다이스호텔 102호       28
에덴파라다이스호텔 103호       29
씨 크루즈 호텔 101호        30
씨 크루즈 호텔 102호        31
씨 크루즈 호텔 103호        32
신안스테이 천안 101호        33
신안스테이 천안 102호        34
신안스테이 천안 103호        35
쏠비치 진도 101호          36
쏠비치 진도 102호          37
쏠비치 진도 103호          38
dtype: int64

In [50]:
indices_room['에이치원 호텔 103호']

23

In [51]:
indices_room.iloc[[5]]

R_NAME
스탠포드 호텔 서울 103호    5
dtype: int64

In [52]:
def get_room(btitle,consine_sim_book=cosine_sim_book):
    idx_book=indices_room[btitle]
    sim_scores_book=list(enumerate(cosine_sim_book[idx_book]))
    sim_scores_book=sorted(sim_scores_book,key=lambda x:x[1],reverse=True)
    sim_scores_book=sim_scores_book[1:7]
    book_indices=[i[1] for i in sim_scores_book]
    return df1['btitle'].iloc[book_indices]

NameError: name 'cosine_sim_book' is not defined

In [ ]:
get_room('스탠포드 호텔 서울 103호')

TypeError: 'numpy.int64' object is not iterable